HTTP_PORT=3014
GRPC_AUDIT_PORT=5014

MONGODB_URI=mongodb://root:fairflow@localhost:27017/fairflow?authSource=admin
AUTH_GRPC_URL=127.0.0.1:5001

NODE_ENV=development
GRPC_REFLECTION_ENABLED=false
